<h1>Here is a list of Books for you!</h1>
<p id = "notice"><%= notice %></p>
<ul>
<% @books.each do |b| %>
  <li><%= b.title %> by <%= b.author %> <%= link_to 'Show', b %> <%= link_to 'Edit', edit_book_path(b) %></li>
<% end %>
</ul>

<%= link_to 'New Book',new_book_path %>